.bg-container {
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 768px) {
  .bg-container {
    align-items: center;
  }
}
.inner-container {
  background-image: linear-gradient(to bottom, #2b2c49, #b5b9ff);
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}
